#### Cache
## MacOS
.DS_Store
## Python cache
__pycache__
## PyLint
.pypirc
## PyTest
.pytest_cache/
## PyEnv
.python-version

#### Running result of tools
## Test coverage
.coverage
.coverage.*
coverage.xml
## Package Python code
build/
dist/
*.egg-info/
